<!DOCTYPE html>
<html>
    <head>
        <title>html-prettify by @fananimi</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/website/css/style.css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <a class="brand" href="#">Html Prettify</a>
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li {% if request.path=="/" %}class="active"{% endif %}><a href="/">Home</a></li>
                        {% if request.path=="/result" %}
                        <li class="active"><a href="/">Result</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container main-wrapper">
            <div class="content-wrapper">
                <div class="header">
                    <h1>Html Prettify <small>by <a href="http://twitter.com/fananimi" target="_blank">@fananimi</a></small></h1>
                </div>
                <hr>
                {% block content %}
                {% endblock %}
            </div>
            <div class="push"></div>
        </div>
        <footer>
            <div class="container">
                <p>This is just an experimental website created by <a href="http://twitter.com/fananimi" target="_blank">@fananimi</a></p>
                <p>The following technology that I use is: |<a href="http://python.org/" target="_blank">python</a>|<a href="http://flask.pocoo.org/" target="_blank">flask</a>|<a href="http://twitter.github.io/bootstrap/" target="_blank">bootstrap</a>|</p>
                <p>All source is available at <a href="https://github.com/fananimi/pretty_html" target="_blank">github</a> under MIT licence.</p>
            </div>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>