<!DOCTYPE html>
<html>
    <head>
        <title>html-prettify by @fananimi</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/website/css/style.css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <a class="brand" href="#">Html Prettify</a>
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li {% if request.path=="/" %}class="active"{% endif %}><a href="/">Home</a></li>
                        {% if request.path=="/result" %}
                        <li class="active"><a href="/">Result</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container main-wrapper">
            <div class="header">
                <h1>Html Prettify <small>by <a href="http://twitter.com/fananimi" target="_blank">@fananimi</a></small></h1>
            </div>
            <hr>
            {% block content %}
            {% endblock %}
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>