{% extends "base.html" %}
{% block content %}
    <form action="/result" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.html.label }}
            {% for error in form.errors.html %}
                <span class="errors">{{ error }}</span>
            {% endfor %}<br>
            {{ form.html }}<br>
        </p>
        <p>
            {{ form.indentation.label }}
            {% for error in form.errors.indentation %}
                <span class="errors">{{ error }}</span>
            {% endfor %}<br>
            {{ form.indentation }}<br>
        </p>
        <button>PROCESS</button>
    </form>
{% endblock %}