<!DOCTYPE html>
<html>
    <head>
        <title>html-prettify by @fananimi</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/website/css/style.css">
    </head>
    <body>
        <div class="container main-wrapper">
            <div class="header">
                <h1>Pretty Html by <small><a href="http://twitter.com/fananimi" target="_blank">@fananimi</a></small></h1>
            </div>
            <hr>
            <form>
                <p>html</p>
                <p>
                    <textarea></textarea>
                </p>
                <p>indentation (int)</p>
                <p>
                    <input type="text" placeholder="4">
                </p>
                <button>PROCESS</button>
            </form>
        </div>
    </body>
</html>