body {
    background: url('/static/website/img/background.png');
}

.main-wrapper{
    background: white;
    margin-top: 40px;
    width: 920px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

textarea {
    width: 905px;
    max-width: 905px;
    min-height: 200px;
}

button {
    background: rgb(43, 80, 67);
    color: white;
    font-size: 12px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background: rgb(75, 139, 116);
}

.main-wrapper {
    padding: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px dashed #000;
    border-bottom: 1px solid #fff;
}

a {
    color: rgb(75, 139, 116);
}

a:hover {
    text-decoration: none;
}

.navbar .brand {
    margin-left: 10px;
}

.errors {
    color: red;
}