body {
    background: url('/static/website/img/background.png');
}

.main-wrapper{
    background: white;
}

textarea {
    width: 925px;
    max-width: 925px;
    min-height: 200px;
}

button {
    background: rgb(43, 80, 67);
    color: white;
    font-size: 12px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background: rgb(75, 139, 116);
}

.main-wrapper {
    padding: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px dashed #000;
    border-bottom: 1px solid #fff;
}

a {
    color: rgb(75, 139, 116);
}

a:hover {
    text-decoration: none;
}