html, body {
    height: 100%;
    min-height: 100%;
}
body {
    background: url('/static/website/img/background.png');
}

.main-wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    background: white;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.content-wrapper {
    padding: 25px;
    padding: 40px 25px 25px;
}

textarea {
    width: 880px;
    max-width: 880px;
    min-height: 200px;
}

button {
    background: rgb(43, 80, 67);
    color: white;
    font-size: 12px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background: rgb(75, 139, 116);
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px dashed #000;
    border-bottom: 1px solid #fff;
}

h1 {
    font-size: 20px;
}

a {
    color: rgb(75, 139, 116);
}

a:hover {
    text-decoration: none;
}

pre {
    max-width: 100%;
    padding: 10px 10px;
    background: #262626;
    border-left: 10px #747070 solid;
    color: #f0822c;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 25px;
    overflow-x: auto;
}

.navbar .brand {
    margin-left: 10px;
}

.errors {
    color: red;
}

footer, .push {
    height: 80px;
}

footer {
    padding: 10px;
    background: gray;
    text-align: center;
}

footer a {
    color: #000;
}